@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins:wght@400;500;600&family=Rubik:wght@300&display=swap');

.burguer{
    position: absolute;
    right: 0;
    margin-top: 8%;
    margin-right: 5%;
    display: none;
}
body {
    margin: 0;
    box-sizing: border-box;
}

.bar-container {
    height: 100vh;
    width: 20%;
    background-color: #000;
    color: #fff;
    padding: 0;
    margin: 0;
    position: fixed;
    transition: .3s;
    z-index: 1000;
}

.nav-logo {
    margin-left: 10%;
    margin-top: 10%;
    position: relative;

}

.nav-logo span {
    color: #000;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 5%;
    margin-top: 10%;
}

.nav-menu {
    position: relative;
    top: 50px
}

.nav-menu ul li {
    list-style-type: none;
    padding: 10px 0px;
    width: 80%;
}

.nav-menu ul li .link {
    color: #fff;
    text-decoration: none;
}

.nav-menu ul li .link:hover {
    color: #ccc;
}

.burguer{
    display: block;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .bar-container {
        margin-left: -50%;
        width: 50%;
        z-index: 1;
    }
    .burguer{
        display: block;
        cursor: pointer;
    }
    
}